@import "./colors";

$font-logo: 'Abril Fatface', cursive;
$font-nav:  'Josefin Slab', serif;
$font-main: 'Changa', sans-serif;
$font-special: 'Indie Flower', cursive;

a {
  text-decoration: none;
}

h2 {
  font-family: $font-logo;
}

h3 {
  font-family: $font-logo;
  font-size: larger;
  padding: 5px;
  color: $blue;
}

h5 {
  font-family: $font-main;
  font-weight: lighter;
  color: rgb(93, 93, 93);
  padding: 5px;
  font-size: 30px;
}

h6 {
  font-family: $font-main;
  color: black;
  padding-left: 1%;
}

@media (max-width: 992px) {

  h5 {
    font-size: 20px;
  }

}