.navbar {
  background-color: $green-light;
  align-items: center;
  & button {
    border: none;
    background-color: $green-dark;
    color: white;
    border: $green;
  }
}

.logo {
  display: flex;
  align-items: center;
  & h1 {
    font-family: $font-logo;
    font-size: larger;
    text-decoration: underline 2px $green;
    padding: 5px;
  }
}

h1 {
  font-family: $font-logo;
  text-decoration: underline 2px $green;
  padding: 5px;
}

.me-auto {
  width: 100%;
  display: flex;
  justify-content: space-around;
  & a {
    color: $green-dark;
    padding: 5px;
  }
}

.nav-middle {
  display: flex;
  font-size: 2rem;
  & a:hover {
    color: $blue;
  }
}

.navLink {
  & h5 {
    display: none;
  }
}

.authorLinks, .comments a {
  color: $green;
}

.profileCard a {
  color: black;
  &:hover {
  color: $green;
  }
}

.logOut {
  display: flex;
  font-size: 2rem;
  align-items: baseline;
  justify-content: baseline;
  & a:hover {
    color: $blue;
  }
}

@media (max-width: 992px) {
  .me-auto {
    display: block;
    padding: 5px;
  }

  .nav-middle {
    display: block;
  }

  .navLink {
    display: flex;
    & h5 {
      display: inline;
    }
  }

  .nav-right {
    display: flex;
    justify-content: flex-end;
  }
}
