.navbar {
  background-color: $green-light;
  align-items: center;
  & button {
    border: none;
    background-color: $green-dark;
    color: white;
    border: $green;
  }
}

.logo {
  display: flex;
  align-items: center;
  & h1 {
    font-family: $font-logo;
    font-size: larger;
    text-decoration: underline 2px $green;
    padding: 5px;
  }
}

h1 {
  font-family: $font-logo;
  text-decoration: underline 2px $green;
  padding: 5px;
}

.me-auto {
  width: 100%;
  display: flex;
  justify-content: space-around;
  & a {
    color: $green;
    padding: 5px;
    &:hover {
      color: $green-dark;
    }
  }
}

.nav-middle {
  display: flex;
}

.authorLinks, .comments a {
  color: $green;
}

.profileCard a {
  color: black;
  &:hover {
  color: $green;
  }
}

