#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #e5e5f7;
  background-size: 270px 270px;
  background-image:  repeating-linear-gradient(to right, #9AB77C, #9AB77C 1px, #e5e5f7 1px, #e5e5f7);
}

// background-image:  linear-gradient(135deg, #9AB77C 25%, transparent 25%), linear-gradient(225deg, #9AB77C 25%, transparent 25%), linear-gradient(45deg, #9AB77C 25%, transparent 25%), linear-gradient(315deg, #9AB77C 25%, #e5e5f7 25%);
// background-position:  10px 0, 10px 0, 0 0, 0 0;
// background-repeat: repeat;