@import "./colors";

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url(../../assets/circle.png);
  background-size:calc(0.5%);
  background-repeat: repeat;
  background-color: rgb(38, 47, 38);
}

footer {
  margin-top: 2%;
  display: flex;
  justify-content: center;
}