@import "./colors";

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 auto;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-image: url(../../assets/circle.png);
  background-size:calc(1%);
  background-repeat: repeat;
  background-color: rgb(228, 240, 228);
}

// background-image:  linear-gradient(135deg, #9AB77C 25%, transparent 25%), linear-gradient(225deg, #9AB77C 25%, transparent 25%), linear-gradient(45deg, #9AB77C 25%, transparent 25%), linear-gradient(315deg, #9AB77C 25%, #e5e5f7 25%);
// background-position:  10px 0, 10px 0, 0 0, 0 0;
// background-repeat: repeat;

$pad-dimensions: 770px;
$laptop-dimensions: 1000px;