.feed-wrapper {
  max-width: 70%;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
  border-left: 5px solid $green-light;
  &:hover {
    border-left: 5px solid $green-dark;
  }
}

.newPost {
  display: flex;
  margin: 0 auto;
  border-color: 5px $green;
  color: $green-dark;
  background: white;
  &:hover {
    background: white;
    color: $green-dark;
    border-radius: 10px;
  }
}

.post-container {
  padding: 3%;
  color: black;
}

.cart-title h5, p {
  text-decoration: none;
}

.interactionsFeed {
  display: flex;
  justify-content: space-evenly;
  & h6 {
    text-align: center;
  }
}

.feedComments {
  text-align: left;
}

.feedReactions {
  width: 100%;
  display: flex;
  flex-grow: 1;
  gap: 5px;
  justify-content: space-evenly;
  & p:hover {
    font-size: 1.2em;
    transition: 0.5s;
    cursor: pointer;
  }
}

.interactions {
  display: flex;
  justify-content: space-between;
}

.authorLinks {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}