.welcomeText {
  display: flex;
  align-items: baseline;
  justify-content: center;
  & h1, h2 {
    color: white;
  }
}

.formPage {
  height: 90%;
  width: 50%;
  margin: 0 auto;
}

.enterForm {
  align-items: center;
  text-align: center;
  border: $green-light;
  & input {
    border: none;
    border-radius: 10px;
    background: $green-light;
    color: white;
    font-weight: bolder;
    width: 90%;
    padding: 10px;
  }
  & input::placeholder {
    color: white;
  }
  & input:focus {
    background: $green-light;
    color: white;
    border: none;
  }


  & button:hover {
    background-color: white;
    color: $green-dark;
    transition: 0.3s;
  }
}

.mb-3 {
  border: $green-light;
  color: white;
}

.form-error {
  color: red;
}

.createForm {
  align-items: center;
  text-align: center;
  border: $green-light;
  & input {
    border: none;
    font-weight: lighter;
    width: 90%;
    padding: 2px;
  }
  & input:focus {
    background: $green-light;
    color: white;
  }
}

.followBtn {
  background: none;
  border: 2px solid $green;
  &:hover {
    border-radius: 5px;
  }
}

.unfollowBtn {
  background: none;
  border: 2px solid red;
  &:hover {
    border-radius: 5px;
  }
}

.editForm {
  text-align: center;
}

.editButtons {
  display: flex;
}

.commentBtn {
  display: flex;
  border-color: 5px $green;
  color: $green-dark;
  background: white;
  &:hover {
    background: white;
    color: $green-dark;
    border-radius: 10px;
  }
}

