.postWrapper {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 2%;
  & h2 {
    color: $green;
  }
}

.postTitle {
  font-size: 25px;
  padding-left: 10px;
}

.authorLinksPost {
  display: flex;
  align-items: center;
  width: 100%;
  & h2 {
    padding-left: 2%;
  }
}

.authorLinksPost img {
  border-radius: 50px;
  background-image: url("../../../assets/circle.png");
  background-position: center;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  margin-top: 2%;
}

.interactions {
  display: block;
}

.reactions {
  display: flex;
  justify-content: left;
}

.reactForm {
  padding: 10px;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  border: 2px solid $green;
    & select {
    border: 1px $green;
  } & select:hover {
    border: 1px $green-dark;
  } & button {
    color: $green-dark;
    border: $green-dark;
  } & button:hover {
    color: black;
  }
}

.reactSelector {
  padding: 10px;
}

.reactionsInner {
  padding: 10px;
  font-size: 2rem;
}

.comments {
  padding: 1%;
}

.commentsInner {
  margin-left: 10px;
  max-width: 60%;
}

.commentSection {
  padding: 10px;
  width: 50%;
  border: 2px solid $green;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {

  .postWrapper {
    width: 100%;
  }

  .reactForm {
    width: 100%;
  }

  .reactions {
    width: 100%;
    justify-content: left;
  }

  .reactionsInner {
    font-size: 1rem;
  }

  .commentSection {
    width: 100%;
  }

  .commentsInner {
    max-width: 90%;
  }

  .authorLinksPost {
    & h3 {
      display: none;
    }
  }
}