.postWrapper {
  width: 80%;
  margin: 0 auto;
  padding: 2%;
  margin-top: 2%;
  & h2 {
    color: $green;
  }
}

.created {
  display: flex;
  justify-content: flex-end;
  & h4 {
    font-size: 15px;
  }
}

.postTitle {
  font-size: 30px;
  padding-left: 10px;
}

.authorLinksPost {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1%;
  border-bottom: 1px solid $green;
  & h2 {
    padding-left: 2%;
  }
}

.authorLinksPost img {
  border-radius: 50px;
  background-image: url("../../../assets/circle.png");
  background-position: center;
}

.postDetails {
  display: flex;
  justify-content: space-between;
  align-items:baseline;
  margin-top: 2%;
}

.tags {
  display: flex;
 justify-content: flex-end;
  gap: 10px;
}

.singleTag {
  width: 100px;
}

.interactions {
  display: block;
}

.reactions {
  display: flex;
  justify-content: left;
}

.reactForm {
  padding: 1%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  gap: 5px;
    & select {
    border: 1px $green;
  } & select:hover {
    border: 1px $green-dark;
  } & button {
    color: $green-dark;
    border: $green-dark;
  } & button:hover {
    color: black;
  }
}

.reactSelector {
  padding: 10px;
}

.reactionsInner {
  padding: 10px;
  font-size: 2rem;
}

.comments {
  padding-top: 1%;
  margin-left: 10px;
  max-width: 60%;
}

.commentHead {
  display: flex;
  gap: 5px;
}

.commentsOwner {
  font-size: 25px;
}

.commentBody {
  font-size: 25px;
}

.commentSection {
  padding: 10px;
  width: 50%;
  border: 2px solid $green;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {

  .postWrapper {
    width: 100%;
  }

  .postAvatar {
    height: 50px;
    width: 50px;
  }

  .postTitle {
    font-size: 20px;
    padding-left: 5px;
  }

  .tags {
    display: block;
    gap: 10px;
  }

  .reactForm {
    width: 100%;
  }

  .reactions {
    width: 100%;
    justify-content: left;
  }

  .reactionsInner {
    font-size: 1rem;
  }

  .commentSection {
    width: 100%;
  }

  .comments {
    max-width: 90%;
  }

  .commentsOwner {
    font-size: 20px;
  }
  
  .commentBody {
    font-size: 20px;
  }

  .authorLinksPost {
    & img {
      display: none;
    }
    & h3 {
      padding-left: 1,5%;
    }
  }
}