.profiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 75%;
  width: 100%;
  margin: 0 auto;
  margin-top: 30px;
}

.profileCard {
  opacity: 90%;
  &:hover {
    opacity: 100%;
    border-bottom: 1px solid $green-dark;
  }
}

// .profileCard {
//   background-image: url("../../../assets/circle.png");
//   background-position: center;
// }

.profileLinks {
  display: block;
  width: 200px;
  text-align: center;
}

// .profileLinks {
//   background-image: url("../../../assets/circle.png");
// }